/* 
    CSS Reset by @Leo-Henrique | https://github.com/Leo-Henrique/css-reset

    Inspired by meyerweb reset | https://meyerweb.com/eric/tools/css/reset/
*/

// ajustes no meyerweb reset
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, 
header, hgroup, img, menu, nav, section, svg, 
video {
	display: block;
}
blockquote, q {
	quotes: none;

    &::before,
    &::after {
        content: "";
        content: none;
    }
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// personalizando e setando padrões
:root {
    // base 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
    // remove o atraso de clique no smartphone windows
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
	// remove a caixa azul ao clicar em botões pelos dispositivos móveis
    // propriedade fora dos padrões, seu uso pode ser incerto e inconstante entre navegadores!
	-webkit-tap-highlight-color: transparent;
}
a, button, input, 
select, textarea {
    // remove o estilo de borda padrão no dispositivo móvel
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a, abbr[title] {
    text-decoration: none;
}
abbr[title] {
    cursor: help;
    // as linhas de sublinhados e textos tachados não são interrompidas pela tipografia / texto
    -webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
}
button {
    background: none;
    text-align: left;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
img, video {
    max-width: 100%;
    height: auto;
}